/*基本の設定*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', 'Noto Sans JP'sans-serif;
  color: #333;
  font-size: 0.875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,ol{
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.readmore {
  text-align: center;
}

.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}

.readmore a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  transition: all 200ms ease;
}

.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}



/*ヘッダー*/
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

.logo {
  height: 70px;
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 145px;
  width: 100%;
  height: auto;
}

.global-nav {
  background-color: #333;
  display: flex;
  align-items: center;
}

.nav-inner {
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-inner li {
  padding: 10px 60px 10px 0; 
}

nav a {
  font-size: 0.875rem;
}


/*メイン*/
main .wrapper {
  margin-bottom: 140px;
}

/*ピックアップ記事*/
.pickup {
  display: flex;
  gap: 24px;
  margin-top: 45px;
}

.pickup article {
  width: 32%;
}

.pickup .article-title {
  font-size: 1rem;
  margin: 10px 0 15px 0;
}


/*メインコンテンツ*/
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.main-content {
  width: 65%;
}

.main-content .article-title {
  font-size: 1.5rem;
  margin-bottom: 21px;
}

.meta {
  display: flex;
  margin-bottom: 10px;
}

.meta li {
  margin-right: 20px;
}

.main-content img {
  margin-bottom: 10px;
}

.main-content .text {
  width: 90%;
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 30px;
}

.main-content .readmore {
  margin-bottom: 80px;
}


/*サイドバー*/
.sidebar {
  width: 33%;
  padding: 20px;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.author img {
  max-width: 130px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.author .name {
  margin-bottom: 32px;
  font-size: 1.125rem;
  font-family: 'Noto Sans JP';
}


/*ランキング*/
.ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.ranking h3 {
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.ranking .title-text {
  margin-bottom: 30px;
}


/*Archive*/
.archive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.archive h3{
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.archive ul {
  width: 100%;
}

.archive li {
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid  #777;
}

.archive li:first-of-type {
  border-top: 1px solid #777;
}



/*フッター*/
footer {
  background-color: #f7f7f7;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 50px;
}

.footer-links h3 {
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.about {
  width: 30%;
}

.about p {
  margin-bottom: 20px;
}

.about-list li{
  position: relative;
  padding-left: 1.2em;
}

.about-list li::before {
  content: "▶";
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  font-size: 0.8em;
}

.menu {
  width: 30%;
}

.menu li {
  padding: 15px;
  border-bottom: 1px solid #777;
}

.menu li:first-of-type {
  border-top: 1px solid #777;
}

.twitter {
  width: 30%;
}

.credit {
  font-size: 0.75rem;
  text-align: center;
  padding: 10px 0;
}



/*レスポンシブ900px*/
@media (max-width: 900px) {
  .pickup {
    display: flex;
    flex-direction: column;
  }

  .pickup article {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .about {
    width: 100%;
    margin-bottom: 50px;
  }

  .menu {
    width: 100%;
    margin-bottom: 50px;
  }

  .twitter {
    width: 100%;
  }

  .tweet {
    display: flex;
    justify-content: center;
  }
}