body {
  font-family: sans-serif;
  background-color: #f8f8f8;
  text-align: center;
}

ul {
  list-style: none;
}

.top-wrapper {
  align-items: center;
}
.container {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4%;
}

.logo {
  width: 120px;
  height: auto;
  padding: 10px 0;
}

.top-right li a{
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 0;
}

.top-right ul {
  display: flex;
  gap: 20px;
  margin-left: auto;
  padding: 0;
  margin: 0;
}



.mainvisual img{
  width: 100%;
  height: 600px;
  max-width: 1920px;
  object-fit: cover;
  display: block;
  margin-bottom: 80px;
}


#about h2 {
  display: inline-block;
  font-size: 2rem;
  border-bottom: solid 1px #383e45;
}

#about .content {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#about .content img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

#about .text-content {
  text-align: left;
}

#about .content h3 {
  font-size: 1rem;
  margin: 0 0 20px 0;
}

#about .content p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#bicycle h2 {
  display: inline-block;
  font-size: 2rem;
  border-bottom: solid 1px #383e45;
}

#bicycle ul {
  display: flex;
}

#bicycle li {
  width: 33%;
  padding: 0 10px;
}

#bicycle img {
  max-width: 100%;
}

#bicycle p {
  font-size: 0.9rem;
}


.footer p {
  font-size: 0.5rem;
  margin-top: 100px;
}


@media screen and (max-width: 600px) {
  #about .content {
    flex-direction: column;
  }


  #bicycle ul {
    flex-direction: column;
    align-items: center;
  }

  #bicycle li {
    width: 100%;
    margin-bottom: 20px;
  }

  #bicycle h3,p {
    margin: 5px;
  }
}