/* Google Fontsを使う場合の指定 */
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
	text-decoration: none;
	color: #24292e;
}

ul {
	list-style: none;
	padding-left: 0;
}

header {
	text-align: center;
}

.container {
	max-width: 960px;
	padding: 0 4%;
	margin: 0 auto;
	box-sizing: border-box;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 270px;
}

.header-right ul {
	display: flex;
}

.header-right li {
	padding-left: 20px;
	font-size: 0.9rem;
}

.header-right img {
	width: 20px;
}


.mainvisual {
	justify-content: center;
}

.mainvisual img {
	height: 420px;
	width: 100%;
	object-fit: cover;
}


h2 {
	font-size: 1.5rem;
	text-align: center;
	margin: 80px 0 50px 0;
}

#about li {
	font-size: 0.9rem;
}

#about .name {
	padding-bottom: 30px;
}

#about p {
	font-size: 0.9rem;
	margin: 30px 0 100px 0;
}



#works ul {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

#works li {
	width: calc((100% - 40px) / 3);
}

#works img {
	width: 100%;
	display: block;
}



#news dl {
	display: flex;
	flex-wrap: wrap;
}

#news dt {
	font-size: 0.9rem;
	width: 20%;
	padding: 16px;
	border-bottom: solid 1px #c8c8c8;
}

#news dd {
	font-size: 0.9rem;
	width: 70%;
	margin: 0;
	padding: 16px;
	border-bottom: solid 1px #c8c8c8;
}

#news dt:first-of-type {
	border-top: solid 1px #c8c8c8;
}

#news dd:first-of-type {
	border-top: solid 1px #c8c8c8;
}



#contact dl {
	display: flex;
	flex-wrap: wrap;
}

#contact dt {
	font-size: 0.9rem;
	width: 20%;
	padding: 10px;
}

#contact dd {
	width: 75%;
	margin: 0;
	padding: 10px;
}

.form-group input {
	width: 100%;
	height: 100%;
	border: solid 1px #c8c8c8;
}

.form-group input:focus,
.form-group textarea:focus {
	border: solid 1px #c8c8c8;
	outline: none;
}

#contact textarea {
	width: 100%;
	height: 75px;
	border: solid 1px #c8c8c8;
}

#contact .button {
	text-align: center;
}

#contact .send {
	width: 200px;
	padding: 15px 0;
	border: solid 1px #24292e;
	background-color: #24292e;
	color: #c8c8c8;
}

#contact .button input:hover {
	background-color: #fff;
	color: #24292e;
	cursor: pointer;
}



footer {
	background-color: #24292e;
	text-align: center;
	padding: 8px 0;
	margin-top: 200px;
}

footer p {
	font-size: 8px;
	color: #fff;
	margin: 0;
}



/*レスポンシブ600px*/
@media screen and (max-width: 600px) {			
	h1 {
		margin: 10px 0 0;
	}
	
	.header-inner {
		display: flex;
		flex-direction: column;
		height: 100px;
	}
	
	#works ul {
		display: flex;
		flex-direction: column;
	}

	#works li {
		width: 100%;
	}

	#works img {
		width: 100%;
	}


	#news dt {
		width: 100%;
		padding-bottom: 0;
		border: none;
	}

	#news dd {
		width: 100%;
		padding-top: 0;
	}
	
	#news dd:first-of-type {
		border-top: none;
	}


	#contact .form-group {
		display: flex;
		flex-direction: column;
	}

	#contact dt {
		padding: 0;
	}

	#contact dd {
		padding: 0 0 15px;
		width: 100%;
	}

	.form-group input {
		width: 100%;
		height: 50px;
		padding: 10px;
		box-sizing: border-box;
	}

	#contact textarea {
		width: 100%;
		height: 150px;
		padding: 10px;
		box-sizing: border-box;
	}

	footer {
		margin-top: 100px;
	}
}