* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial,
               "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo,
               sans-serif;
  font-size: 0.9rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1000px;
  padding: 0 16px;
}


/*header*/
header {
  width: auto;
  height: 100vh;
  position: relative;
  background-image: url('../image/mainvisual.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainvisual {
  width: 100%;
}

.header-logo {
  max-width: 460px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  position: absolute;
  top: 20px;
  right: 40px;
}

.nav-list{
  display: flex;
  gap: 30px;
}

.nav a {
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.84);
}

.nav a:hover {
  color: #e03131;
}


/*背景画像固定＆*/
.bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}



@media (max-width: 768px) {
  
  
  /*セクションタイトルのうしろに画像*/
  .bg-fixed {
    display: none;
  }

  .sec {
    background-image: none;
  }

  .sec::before {
    content: "";
    display: block;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: attr(data-bg url); /* JSでセット推奨 */
  }
}
