* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial,
               "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo,
               sans-serif;
  font-size: 0.9rem;
  line-height: 1.7
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  padding: 90px 16px 0;
  margin: 0 auto;
  text-align: center;
}


/*header*/
header {
  width: auto;
  height: 100vh;
  position: relative;
  background-image: url('../image/mainvisual.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainvisual {
  width: 100%;
}

.header-logo {
  max-width: 460px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  position: absolute;
  top: 20px;
  right: 40px;
}

.nav-list{
  display: flex;
  gap: 30px;
}

.nav a {
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.84);
}

.nav a:hover {
  color: #e03131;
}


/*背景画像固定＆*/
.bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.header-space {
  height: 20px;
  background-color: #fff;
}


/*MENUセクション*/
.wrapper {
  padding: 30px 16px 0;
}

.sec-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.sec-title {
  font-size: 4.5rem;
  color: #fff;
}

.bg-color {
  background-color: #fff;
  padding-bottom: 170px;
}

.menu__inner {
  display: flex; 
  justify-content: center;
}

.menu__columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 45px;
}

.menu__columns:first-of-type {
  border-right: 1px solid #000;
}

.menu__column {
  width: 100%;
  text-align: center;
}

.menu__column--food dl:first-of-type{
  margin-bottom: 55px;
}

.sec-subtitle {
  font-size: 2.5rem;
  border-bottom: 6px solid #E03131;
  display: inline-block;
  margin: 0 auto 70px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__name {
  width: 87%;
  border-bottom: 1px dotted #000;
  margin-bottom: 25px;
  text-align: left;
}

.menu__price {
  padding-top: 10px;
  width: 13%;
  text-align: right;
}


/*ABOUTセクション*/
.about__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__columns {
  display: flex;
  margin-bottom: 40px;
}

.about__column {
  width: 50%;
}

.about__text{
  text-align: left;
  padding: 20px;
  line-height: 2;
}

.read-more {
  width: 160px;
  height: 50px;
  margin: 0 auto;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  color: #000;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-top: 2px solid #e03131;
  border-left: 2px solid #e03131;
  transition: width 0.3s ease, height 0.3s ease;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #e03131;
  border-right: 2px solid #e03131;
  transition: width 0.3s ease, height 0.3s ease;
}

.btn:hover::before,
.btn:hover::after {
  width: 100%;
  height: 100%;
}


/*LOCATIONセクション*/
.location-map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.location-map iframe {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

.shop-info {
  text-align: left;
  margin-bottom: 10px;
  font-style: normal;
}

.shop-info__hours {
  text-align: left;
  margin-bottom: 10px;
}

.shop-info__tel {
  text-align: left;
}


/*FOOTERセクション*/
.footer {
  font-size: 0.625rem;
  background-color: #fff;
  text-align: center;
}



/*レスポンシブ*/
@media (max-width: 768px) {
  
  
  /*セクションタイトルのうしろに画像*/
  .bg-fixed {
    display: none;
  }

  .sec-hero {
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .sec-title {
    font-size: 2rem;
  }

  .bg-color {
    padding-bottom: 80px;
  }

  .sec-subtitle {
    font-size: 1.25rem;
    margin-bottom: 25px;
  }

  .menu__inner {
    display: flex;
    flex-direction: column;
  }

  .menu__columns {
    width: 100%;
    padding: 0;
  }

  .menu__columns:first-of-type {
    border-right: none;
    margin-bottom: 35px;
  }

  .about__columns {
    display: flex;
    flex-direction: column;
  }

  .about__column {
    width: 100%;
  }

}