* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  list-style: none;
}

.menu {
  position: relative;
  margin: 30px 0;
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 30px 30px;
  border: none;
}

.hamburger span{
  width: 100%;
  display: block;
  height: 3px;
  background-color: #000;
  transition: transform .3s, opacity .3s;
}

.hamburger.is-open span:nth-child(1) {
  transform: translateY(13.5px) rotate(45deg);
  background-color: #fff;
}

.hamburger.is-open span:nth-child(2) {
  opacity: 0;
  background-color: #fff;
}

.hamburger.is-open span:nth-child(3) {
  transform: translateY(-13.5px) rotate(-45deg);
  background-color: #fff;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(54, 48, 48, 0.753);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
  z-index: 8;
}

.bg.is-open {
  opacity: 1;
  visibility: visible;
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
  transition: transform .3s;
  text-align: left;
  z-index: 9;
  padding: 30px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav.is-open {
  transform: translateX(0);
}

.nav a {
  color: #e7dfdf;
  text-decoration: none;
}